/* import tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    -webkit-appearance:none;
    /* **this should be your icon or image to replace the down arrow** */
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    background-position: right;
  background-size: 14px;
    
  }

.ant-table{
    margin-inline: 0px -16px !important;
}

.ant-table-expanded-row-fixed{
    padding: 16px 0px !important;
}

.ant-table-thead .ant-table-cell {
    background-color: white !important;
  }
.ant-select-selector{
    padding: 10px !important;
}


label{
    @apply text-[#42526E]
 }